:root {
    --title-text-color: #212121;
    --secondary-text-color:#757575;
    --background-color:#ffffff;
    --accent-color: #2196F3;
}

body{
    background-color: var(--background-color);
    color: var(--title-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

img{
    /* max-width: 100%; */
    display: block;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 94px;
    padding-bottom: 94px;
    outline: 2px solid tomato;
}


h1, h2, h3, p, ul{
    margin: 0;
    padding: 0;
}

img{
    display: block;
}
/* Лого */

.logo-part-1, .logo-part-2{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}

.logo-part-1{
    color: var(--accent-color);
}

/* Site nav */

.nav{
    border-bottom: 1px solid #ECECEC;
    ;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.main-nav{
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
}

.contacts-nav{
    display: flex;
    margin-left: 331px;
}

.contacts-nav .item:not(:last-child){
    margin-right: 50px;
}

.site-nav-list{
    display: flex;
}


.site-nav-list{
    margin-left: 93px;
}

.site-nav-list > .item +.item{ 
    display: flex;
    margin-left: 50px;
}


.site-nav-list .link{
    color: inherit;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.site-nav-list .current{
    color: var(--accent-color);
}

.contacts-nav .link{
    color: #757575;
    letter-spacing: 0.02em;
}


.link {
    display: block;
    text-decoration: none;
    
}

.list{
    list-style: none;
}

/* Герой */

.overlay{
    background-color: #2F303A;
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    /* background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 200px; */
    
}

.hero{
    text-align: center;
}

.main-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase; 
    color: var(--background-color);
    margin-bottom: 30px;
    padding-left: 222px;
    padding-right: 222px;
}


/* Особливості */

.features{
    margin-bottom: 94px;

}
.container > .features{
    display: flex;
    justify-content: space-between;
}

.features .item{
    width: 270px;
}

.features .title{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features .text{
    line-height: 1.71;
    color: var(--secondary-text-color);
}

/* Чем мы занимаемся */

.container .section-title{
    margin-bottom: 50px;
} 

.works > .list{
    display: flex;
    justify-content: space-between;
}

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Наша команда */

.team-section{
    background-color: #F5F4FA;
}

.our-team > .team{
    display: flex;
    justify-content: space-between;
}

.box{
    width: 270px;
    height: 368px;
    background-color: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}


.team .name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.team .position{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--secondary-text-color);
}

/* Footer */

.footer{
    max-width: 1600px;
    background-color:#2F303A;
    margin-left: auto;
    margin-right: auto;
}

.footer-box{
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-box > .logo-part-2{
    color: #ffffff;
}

.address{
    font-style: normal;
    line-height: 1.71;
    margin-top: 20px;
}

.city{
    color: var(--background-color);
}

.address .link{
    color: rgba(255, 255, 255, 0.6);
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

/* Кнопки */

.hero .main-button{
    border: 0;
    min-width: 200px;
    border-radius: 4px;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em; 
    color: #FFFFFF;
    background-color: var(--accent-color);
}

.hero .main-button:hover{
    background-color: teal;
}



/* ПОРТФОЛІО */

.portfolio-nav{
    display: flex;
    justify-content: center;

}

.portfolio-nav .list-item:not(:last-child){
    margin-right: 5px;
}

.work-examples{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: 20px;
}

.photo-card{
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding: 20px;
}

.list-item > .button{
    min-width: 128px;
    height: 38px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63px;
    color: var(--title-text-color);
    background: #F5F4FA;
    border: none;
    cursor: pointer;
}

.list-item  > .first-button{
    min-width: 73px;
}

.work-examples .title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.work-examples .title-text{
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-text-color);
    margin-top: 4px;
}

.work-examples > .list-item{
    margin-top: 30px;
    margin-left: 30px;  
}



.button:hover,
.button:focus,
.button:active
{ 
    background-color: var(--accent-color);
    color: #ffffff;
} 